<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% include 'partials/head.html.twig' %}
        {% endblock head %}
    </head>
    <body>
        {% block body %}
            {% block content %}{% endblock %}
        {% endblock %}

        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock footer %}
    </body>
</html>
