{% extends 'partials/layout.html.twig' %}

{% block content %}
    <h1>Admin</h1>

    <ul>
        {% for page in pages %}
            <li><a href="admin/{{ page }}">{{ page }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}